body {
	margin: 0;
	background-image : url('background.jpg');
	background-repeat : no-repeat;
	background-size : cover;

}

.nav-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color : #87DCF6;
	list-style-type: none;

}

.nav-item {
	padding: 15px;
	cursor: pointer;
}

.nav-item a {
	text-align: center;
	text-decoration: none;
	color: white;
}

.nav-item:nth-child(1) {
	background-color: lightseagreen;
}

.nav-item:hover {
	background-color: grey;
}

a {
	text-decoration: none;
}

a.btn:linked {
	color: white;
}
a.btn:visited {
	color: white;
}
#videoBtn {
	margin-top:5px;
	border: none;
	width:15%;
	height:40px;
	background-color: #0695DB;
}

a.btn2:linked {
	color: white;
}

a.btn2:visited {
	color: white;
}

#visitBtn {
	margin-top:5px;
	width:10%;
	height:40px;
	border: 2px solid white;
	background-color: #87DCF6;
}

#home1 {
	margin-top: 300px;
	margin-left: 50px;
	text-align: center;

}

#missionBtn {
	margin-top: 5px;
	width: 13%;
	height: 60px;
	border: none;
	background-color: #87DCF6;
}

#workBtn {
	margin-top: 5px;
	width: 13%;
	height: 60px;
	border: 2px solid white;
	background-color: transparent;
}
